.form {
    align-content: flex-end;
    display: inline-grid;
    background: #d5d4ed;
    font-size: 20px;
    height: 500px;
    padding: 0 10px;
    border-left: 1px solid #809bf5;

    box-shadow: 0 2px 2px -2px #809bf5, inset 3px 3px 1px -2px #fff;
  }

  .form_box {
    display: flex;
    overflow-y: scroll;
    flex-direction: column;
  }
  .form_box_name {
    color: grey;
    font-size: 14px;
    align-self: flex-start;
  }
  .form_box_time {
    flex-direction: column;
    align-items: flex-end;
    color: white;
    font-weight: lighter;
    font-size: 11px;
    align-self: flex-end;
    margin-right: 20px;
  }
  .form_box_blocks {
    flex-direction: column;
    width: 80%;
    padding: 10px 10px 25px;
    margin: 0 0 10px 0;
    border-radius: 5px;
    background: #809bf5;
    justify-content: space-between;
    display: flex;
    color: #fff;
    box-shadow: inset 0px 0px 1px 0px #5a5888;  
  }
  .form_box_blocks p {
    margin: 5px 0;
    display: flex;
    width: 100%;
  }
  
  /* .form_box_blocks:nth-child(odd) {
    align-self: flex-start;
    border-radius: 20px 20px 0 20px;
  }
  .form_box_blocks:nth-child(even) {
    align-self: flex-end;
    background: lightgray;
    color: white;
    border-radius: 20px 20px 20px 0;
  } */
  .form_input {
    width: calc(100% - 25px);
    border: 1px solid lightgrey;
    height: 50px;
    font-size: 20px;
    word-break: break-word;
    color: #5a5888;
  }
  .form_submit {
      display: none;
  }