.form {
    align-content: flex-end;
    display: inline-grid;

    /* width: calc(100vw - 200px); */
    font-size: 20px;
    height: 500px;
  }

  .form_box {
    display: flex;
    overflow-y: scroll;
    flex-direction: column;
  }
  
  .form_box_blocks {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 20px;
    background: lightblue;
    justify-content: space-between;
    display: flex;
  }
  
  /* .form_box_blocks:nth-child(odd) {
    align-self: flex-start;
    border-radius: 20px 20px 0 20px;
  }
  .form_box_blocks:nth-child(even) {
    align-self: flex-end;
    background: lightgray;
    color: white;
    border-radius: 20px 20px 20px 0;
  } */
  .form_input {
    width: calc(100% - 25px);
    border: 1px solid lightgrey;
    height: 50px;
    font-size: 20px;
    word-break: break-word;
  }
  .form_submit {
      display: none;
  }