.login {
    padding: 20px;
    height: 520px; /* account for line height */
    width: 100%;
}
.login h1 {
    color: #fff;
    margin-top: 45px;
}
.login_block {
    width: auto;
    max-width: 300px;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    color: #fff;
}
.login_button {
    align-self: flex-end;
    padding: 15px 30px;
    background: #d5d4ed;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    color: #5a5888;
    box-shadow: 0 2px 2px -2px #809bf5, inset 0 3px 1px -2px #fff;
    text-shadow: 0 1px 1px #fff;
}
input {
    margin: 10px 0;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
}

.logout {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-wrap: nowrap;
}
.login_input_name {
    border: 1px solid #fff;
    height: 35px;
    font-size: 16px;
    border-radius: 5px;
}
.logout_bar {
    align-items: center;
    padding: 20px;
    background: #5a5888;
    display: flex;
    justify-content: space-between;
    color: #fff;
    font-size: 20px;
}
.logout_bar span {
    line-height: 27px;
}
.logout_bar_button {
    padding: 15px 30px;
    background: #d5d4ed;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    color: #5a5888;
    box-shadow: 0 2px 2px -2px #809bf5, inset 0 3px 1px -2px #fff;
    text-shadow: 0 1px 1px #fff;
}